<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="orderForm" data-bitwarden-watching="1">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" formControlName="orderComments"
             placeholder="name@example.com">
      <label for="floatingInput">dfe</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingOrderStatus" formControlName="orderStatus"
             placeholder="Password">
      <label for="floatingOrderStatus">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingOrderDescription" formControlName="orderDescription"
             placeholder="Password">
      <label for="floatingOrderDescription">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingDeliveryAddress" formControlName="deliveryAddress"
             placeholder="Password">
      <label for="floatingDeliveryAddress">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingDispatchAddress" formControlName="dispatchAddress"
             placeholder="Password">
      <label for="floatingDispatchAddress">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingParcelWeight" formControlName="parcelWeight"
             placeholder="Password">
      <label for="floatingParcelWeight">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingParcelLength" formControlName="parcelLength"
             placeholder="Password">
      <label for="floatingParcelLength">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingParcelHeight" formControlName="parcelHeight"
             placeholder="Password">
      <label for="floatingParcelHeight">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingParcelWidth" formControlName="parcelWidth"
             placeholder="Password">
      <label for="floatingParcelWidth">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>
</div>
